* {
    margin: 0;
    padding: 0;
    /*font-family: ;*/
    box-sizing: border-box;
    }
    
    body {
    background: rgb(98, 10, 10);
    color: #fff;
    background-image: url(images/2024-08-18\ 11.22.01.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:right;
    overflow: hidden;
    }
    #header { 
        width: fit-content ;
        height: 100vh;
        float: left;
        margin-left: 20px;   
    } 
    .container{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; /* Make the menu take up the full width */
        float: left;
    }
    
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .tab-conters ul li{
        font-weight: 25px;
        padding: 0;
        margin: 0;
    }
    
    /* nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    width: 100px;
    text-align: center;
    height: 30px;
    }
    
    nav ul li a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    transition: text-shadow 0.3s;
    
    }
    
    nav ul li a::after {
    content: '';
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: transform 0.5s;
    }
    
    nav ul li a:hover::after {
    background: red;
    }
    
    nav ul li a:hover {
    color: rgb(252, 231, 231); 
    text-shadow: 0 0 5px rgb(241, 241, 241);
    }
.header_text{
    position: relative;
    margin-top: 25%;
    font-size: 30px;
}
.header_text h1{
    font-size: 50px;
    margin-top: 20px;
} */
/* about */
#About{
    padding: 100px 0;
    /* color */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.headlineabout{
    font-size: 60px;
    font-weight: 600;
    color: #fff;    
}
.tab-title{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}
.tab-links::after{
    content: '';
    width: 0;
    height: 03px;
    background: rgb(2, 2, 2);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.activelink::after{
    width: 50%;
}
.tab-conters ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-conters ul li span{
    color: rgb(116, 114, 114);
    font-size: 19px;
}
.tab-conters{
    display: none;
}
.tab-conters.active-tab{
    display: block;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.footercontainer{
    background-color: black;
    opacity: 0.5;
    background-position-x: 0%;
    background-position-y: 0%;
    background-origin: padding-box;
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    padding: 10px; 
    margin-top: 5px; 
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    background-color: rgb(177, 32, 6);
    margin-right: 50px;
    border-radius: 50px;
}
.socialIcons a i{
    font-size: 1em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color: rgb(7, 7, 7);
    transition: 0.5s;
}
.socialIcons a i:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.footerbottem{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.footerbottem p{
    color: #fff;
}
.designer{
    opacity: 0.6;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* contact */
.colum-left{
    flex-basis: 40%;
}
.colum-right{
    flex-basis: 60%;
}
.colum-left p{
    margin-top: 30px;
}
.colum-left p i {
    color: black;
    opacity: 0.9;
    margin-right: 10px;
    font-size: 15px;
}
.telegram a{
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
}
.telegram a i{
    color: black;
    opacity: 0.9;
}
/* .btn{
    display: inline-block;
    background-color: black;
    color: rgb(207, 84, 62);
    width: 60px;
    border: none;
} */
.colum-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(22, 1, 1, 0.555);
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: rgb(138, 125, 125);
    border-radius: 5px;
}
form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 6px;
    opacity: 0.5;
}
form .btn:hover{
    opacity: 1;
    transition: 0.5s;
}


/* responsive */
@media only screen and (max-width: 600px){
    .tab-title{
        margin: 10px;
    }

    .colum-left{
        flex-basis: 20%;
    }
    .colum-right{
        flex-basis: 40%;
    }
}

